/** panelmenu.html **/

.panelmenu-wrapper {
    float: left;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
}



.panelmenu-item {
    float:left;
    width: 100%;
    padding: 5px 10px;
}

.panelmenu-item-no-link {
    float:left;
    width: 100%;
    padding: 5px 10px;
}

.panelmenu-item:hover , .panelmenu-item:focus{
  background : #0096db;
}

.panelmenu-item , .panelmenu-item-no-link{
  border-bottom:1px solid #d3d3d3;
}

.panelmenu-item:last-child , .panelmenu-item-no-link:last-child {
  border:none;
}

.panelmenu-item-span {
    margin-left: 10px;
    float: left;
    font-size: 18px;
}

.panelmenu-item-icon{
  float:left;
}
